PORT=
API_URL=http://localhost:5000
WS_PORT=
JWT_ACCESS_SECRET=
SESSION_SECRET=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
IMAGE_FOLDER_PATH=image
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=